<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @project.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @project.owner %>
</p>

<p>
  <strong>Members:</strong>
  <%= @project.members %>
</p>

<p>
	<strong>Settings:</strong>
	<%= @project.setting %>
</p>


<%= form_tag( :action => "members" , :p_id => @project.id) do %>
<p> Member ID : 
<%= text_field_tag("member") %>
</p>


<%= submit_tag("add member") %>
<% end %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= link_to 'add issue',{:controller => "issues" , :action => "new", :pro_id => @project.id  } %>
