<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @issue.createdby %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @issue.assignee %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @issue.votes %>
</p>

<p>
  <strong>Milestone:</strong>
  <%= @issue.milestone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Setting:</strong>
  <%= @issue.setting %>
</p>

<p>
  <strong>Project ID:</strong>
  <%= @issue.project_id %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>



<%= link_to 'assign to yourself' , {:controller => "issues" , :action => "assign"  ,:iss=>@issue }%>


<%= form_tag( :action => "assign_other") do %>
<p> enter other's ID : 
<%= text_field_tag("user_id") %>
</p>
<p>
<%=hidden_field_tag("iss",  @issue.id)%>
</p>

<%= submit_tag("assign to member") %>
<% end %>
