
<%= form_for(@proj) do |f| %>
  <% if @proj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proj.errors.count, "error") %> prohibited this proj from being saved:</h2>

      <ul>
      <% @proj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :settings %><br/>
    <%=f.label :settings , "private" , :value =>1 %>
    <%=f.radio_button :settings , true %>
    <%=f.label :settings , "public" , :value => 0 %>
    <%= f.radio_button :settings ,false ,:checked=>true   %> 
  </div>
 

    <p>Set the option as "None" if you dont want to add/remove an organization</p>


   <div class="field">
    <%= f.label :Add_Members %><br>
    <%= select_tag "add_user",
    options_from_collection_for_select(User.all,'id',
    'email', @proj.users.map{|j|j.id}),  :multiple => true ,include_blank: "None" %>
  
  </div>

  <div class="field">
      <%= f.label :Remove_Members %><br>

      <%= select_tag "remove_user",
      options_from_collection_for_select(User.all,'id',
    'email', @proj.users.map{|j|j.id}),  :multiple => true ,
    include_blank: "None" %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
