<%= form_for(@proj) do |f| %>
  <% if @proj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proj.errors.count, "error") %> prohibited this proj from being saved:</h2>

      <ul>
      <% @proj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.number_field :owner %>
  </div>
  <div class="field">
    <%= f.label :settings %><br>
    <%= f.check_box :settings %>
  </div>
  <div class="field">
    <%= f.label :members %><br>
    <%= f.text_area :members %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
