<p id="notice"><%= notice %></p>

<h1>Listing Projs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Settings</th>
      <th>Members</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projs.each do |proj| %>
      <tr>
        <td><%= proj.title %></td>
        <td><%= proj.description %></td>
        <td><%= proj.owner %></td>
        <td><%= proj.settings %></td>
        <td><%= proj.members %></td>

        <td><%= link_to 'Show', proj %></td>
        <% if proj.user==current_user %>
          <td><%= link_to 'Edit', edit_proj_path(proj) %></td>
          <td><%= link_to 'Destroy', proj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proj', new_proj_path %>
