
<p id="notice"><%= notice %></p>

<h1>Listing Projs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @projs.each do |proj| %>
      <% if proj.settings==false || proj.owner==current_user.id %>
      <tr>
        <td><%= proj.title %></td>
        <td><%= proj.description %></td>
 
        <td><%= link_to 'Show', proj %></td>
        <% if proj.owner==current_user.id %>
          <td><%= link_to 'Edit', edit_proj_path(proj) %></td>
          <td><%= link_to 'Destroy', proj, method: :delete, data: { confirm: 'Are you sure?' } %></td>


          <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proj', new_proj_path %>
