
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @issue.assignee %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @issue.votes %>
</p>

<p>
  <strong>Milestone:</strong>
  <%= @issue.milestone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<p>
  <strong>Settings:</strong>
  <%= @issue.settings %>
</p>

<p>
  <strong>owner:</strong>
  <%= @issue.user_id %>
</p>
<p>
  <strong>project:</strong>
  <%= @issue.proj_id %>
</p>
<p>
  <strong>name:</strong>
  <%= @issue.user.name %>
</p>
<p> 
<%= @issue.get_upvotes.size %> Upvotes</p>
<p> <%= @issue.get_downvotes.size %> Downvotes</p>

<%= link_to "Upvote",like_issue_path(@issue), method: :get %>
<%= link_to "Downvote",dislike_issue_path(@issue), method: :get %>

<h2><%= pluralize(@issue.comments.count,"Comment") %></h2>
<% @comments.each do |comment| %>
  <p> <%=comment.user.name %> </p>
  <p> <%=comment.content %> </p>

<% end %>

<%=render 'comments/form' %>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
